// Incluye un sass map donde podremos nombrar y crear variables personalizadas en cada proyecto.

$colors: (
  neutral: (
    900: #030303,
    200: #7a746e,
    100: #fff7f0,
  ),
  primary: (
    600: #552049,
    500: #755cde,
    400: #61c4b7,
    300: #eb7565,
    200: #f6a560,
    100: #f39e9e,
  ),
);
