@use '../abstracts/' as *;

// Esto puede ser de mucha ayuda a la hora de crear botones y navegations.

.flex-group-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-group-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--flex-gap, $flex-group-gap);

  @include mq(medium) {
    --flex-gap: #{size(28)};
  }

  @include mq(large) {
    --flex-gap: #{size(22)};
  }
}

.flex-group-3 {
  --flex-gap: #{size(40)};

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--flex-gap, $flex-group-gap);

  @include mq(medium) {
    --flex-gap: #{size(70)};

    flex-direction: row;
  }

  @include mq(large) {
    --flex-gap: #{size(125)};
  }
}

.flex-group-4 {
  --flex-gap: #{size(24)};

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--flex-gap, $flex-group-gap);

  @include mq(medium) {
    align-items: flex-start;
  }

  @include mq(large) {
    --flex-gap: #{size(32)};
  }
}

.flex-group-5 {
  --flex-gap: #{size(24)};

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--flex-gap, $flex-group-gap);

  @include mq(medium) {
    --flex-gap: #{size(26)};
  }

  @include mq(large) {
    --flex-gap: #{size(182)};

    justify-content: space-between;
    flex-direction: row;
  }
}

.flex-group-6 {
  --flex-gap: #{size(24)};

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--flex-gap, $flex-group-gap);

  @include mq(medium) {
    --flex-gap: #{size(26)};
  }

  @include mq(large) {
    --flex-gap: #{size(26)};

    width: 33.75rem;
    align-items: start;
  }
}

// .flex-group-7 {
//   background-color: clr(neutral, 200);

//   display: flex;
//   justify-content: center;
//   align-items: center;

//   button {
//     all: unset;
//     background-color: clr(neutral, 900);
//     padding: 20px;
//     border-radius: 50%;
//     display: inline-flex;

//     &:is(:hover, :focus) {
//       background-color: clr(primary, 500);
//     }
//   }
// }
