@use '../abstracts/' as *;

.container {
  --max-width: #{$container-max-width};

  width: min(100% - 2rem, var(--max-width));
}

.container[data-type='wide'] {
  --max-width: #{$container-max-width-wide};

  width: min(100%, var(--max-width));
}
