@use '../abstracts/' as *;

.button {
  // Some default removed from the btn.
  display: inline-flex;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
  border: 0;
  border-radius: size(28);
  transition: 275ms ease;
  padding: size(14) size(45);
  font-weight: $fw-700;
  font-size: size(16);
  color: clr(neutral, 100);

  &[data-type='primary'] {
    background-color: clr(neutral, 900);

    &:is(:hover, :focus) {
      background-color: clr(primary, 500);
    }
  }

  &[data-type='secondary'] {
    background: clr(primary, 300);
    &:is(:hover, :focus) {
      background-color: clr(primary, 200);
    }
  }
}
