@use '../abstracts/' as *;

.features {
  padding-block-start: size(32);
  cursor: pointer;

  &-box {
    display: inline-flex;
    align-items: flex-end;
    border-radius: size(8);
    padding: size(24);
    position: relative;

    h2::after {
      content: '';
      height: size(2);
      width: 0%;
      background-color: clr(neutral, 100);
      display: block;
      transition: 500ms ease;
    }

    img {
      position: absolute;
      top: 0;
      right: 0;
      padding: inherit;
      transition: 500ms ease;
    }
  }

  &-box:nth-child(1) {
    grid-area: a;
  }
  &-box:nth-child(2) {
    grid-area: b;
  }
  &-box:nth-child(3) {
    grid-area: c;
  }
  &-box:nth-child(4) {
    grid-area: d;
  }
  &-box:nth-child(5) {
    grid-area: e;
  }
  &-box:nth-child(6) {
    grid-area: f;
  }
}

.features-box:is(:hover, :focus) {
  img {
    scale: 1.1;
  }

  h2::after {
    width: 100%;
  }
}
