@use '../abstracts/' as *;

.work-section {
  width: 100%;
  padding-block-start: size(100);

  button {
    all: unset;
    background-color: clr(neutral, 900);
    padding: 20px;
    border-radius: 50%;
    display: inline-flex;

    &:is(:hover, :focus) {
      background-color: clr(primary, 500);
    }
  }

  @include mq(medium) {
    padding-block-start: size(120);
  }

  @include mq(large) {
    padding-block-start: size(88);
  }
}

.swiper-slide {
  max-width: 70%;

  @include mq(large) {
    max-width: 34rem;
  }

  img {
    width: 100%;
    border-radius: size(10);
  }
}
