// Base reset!

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
  color: inherit;
}
